body {
  font-family: sans-serif;
}

table {
  /* border-collapse: collapse; */
  margin: 15px;
  margin-left: 5px;
}
.labelCondition {
  border: 1px solid black;
}
.labelCounter {
}
.gameControls {
  border: 2px solid black;
  width: fit-content;
  margin: 5px;
}
.gameControls > div {
  margin: 15px;
  font-size: 25px;
}
.cell {
  border: 1px solid lightblue;
  color: lightgray;
  width: 20px;
  height: 20px;
  text-align: center;
}

.cell--alive {
  background-color: darkcyan;
}
.cell--deadInNextStep {
  box-sizing: border-box;
  background-color: rgb(238, 255, 0);
  border: 10px darkcyan solid;
}
.run-button {
  float: left;
  border: 1px solid black;
  margin: 8px;
  width: 80px;
  font-size: 30px;
  text-align: center;
}
.run-button:hover {
  background-color: burlywood;
}
